<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Colt is Beat</h1>
    <p><marquee>
 What the hell!?!?!?!?
 Are you questioning the beatness of whycolt?
 </marquee>
    </p>
  </body>
</html>