<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Colt is Beat</h1>
    <p>
 What the hell!?!?!?!?
 Are you questioning the beatness of whycolt?
    </p>
  </body>
</html>