<div class="center jumbotron myBackground">
  <h1>He's beat!</h1>

  <h2>
    Welcome to coltisbeat.tk, the most dankest site to portray the beatness of whycolt.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<style>
body {
  background-image:url('colt.jpg');
}

</style>